{% include 'header.html' %}
<h1>Control:: {{ content_data.name }}</h1>
    {% if content_data.name == 'orders' %}
        {% for order in content_data.result %}
            <div class="order-personal" id="{{order.id_order}}">
                <h2>Заказ №{{order.id_order}}</h2>
                <h3>На сумму: {{order.amount}}</h3>
                <p>Создан: {{order.datetime_create}}</p>
                <p>Статус: {{order.id_order_status}}</p>
                <select name="status" id="">
                    {% for status in content_data.statusList %}
                        {% set selected = '' %}
                        {%  if (order.id_order_status == status.id_order_status)  %}
                            {% set selected = 'selected' %}
                        {% endif %}
                        <option value="{{status.order_status_name}}" data-id="{{status.id_order_status}}" {{ selected }}>{{status.order_status_name}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    {% elseif content_data.name == 'categories' %}
        {% for subcategory in content_data.result %}
        <form enctype="multipart/form-data" method="POST" action="?path=admin/changeCategory/{{subcategory.id_category}}">
            <li class="order-personal">
                <img src="../img/categories/{{subcategory.img}}.jpg" alt="logo" class="admin-img">
                <label for="file" class="label">Новая картинка:</label>
                <input id="file" type="file" accept="image/jpg" name="Image">
                <input type="text" value="{{ subcategory.name }}" name="Name">
                <input type="submit" value="Сохранить">
            </li>
        </form>
        {% endfor %}
    {% elseif content_data.name == 'goods' %}
        {% for good in content_data.result %}
            <form class="good-item">
                <img src="../img/items/{{good.id_good}}.jpg" alt="logo" class="admin-img">
                <h1>{{ good.name }}</h1>
                <h2>{{ good.price }} руб.</h2>
            </form>
        {% endfor %}
    {% endif %}

{% include 'footer.html' %}