<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <body>
        <ul>
            {% for category in categories %}
            <li>
                <a href="?path=Categories/{{ category.id_category }}" link="{{ category.id_category }}" class="category-link">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>

    <div>
        {% if user %}
            <a href="?path=user/personalPage">Личный кабинет</a>
            <a href="?path=order/cart">Корзина</a>
        {% else %}
            <a href="?path=user/login">Авторизация</a>
        {% endif %}
    </div>


